scale.inactive trough highlight {
  background-color: grey;
}

levelbox image{
	padding: 5px;
}

levelbox levelbar block.empty {
  background: none;
}

levelbox  levelbar block {
  border-radius: 5px 5px 5px 5px;
}

